/* !header SECTION START   */
@media (max-width: 800px) {
  .menus {
    display: none;
  }
  .menu-buttom {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 520px) {
  .header-section .left .logo img {
    display: none;
  }
  .header-section .left .logo .icon img {
    display: block;
  }
}

@media (max-width: 375px) {
  .header-section .left .logo img {
    max-width: 200px;
  } 
}

/* !header SECTION END  */

/* !HERO SECTION END  */
@media (max-width: 1150px) {
  .hero-section .left h1 {
    font-size: 40px;
  }
}
@media (max-width: 960px) {
  .hero-section .left h1 {
    font-size: 40px;
  }
  .hero-section .right img {
    width: 400px;
  }
}
@media (max-width: 830px) {
  .hero-section .left h1 {
    font-size: 30px;
  }
  .hero-section .left p {
    font-size: 15px;
  }
}
@media (max-width: 675px) {
  .hero-section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .hero-section .right img {
    display: none;
  }
  .hero-section .left h1 {
    font-size: 40px;
  }
}
@media (max-width: 475px) {
  .hero-section .left h1 {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .glb-btn,
  .glb-btn-outline {
    padding: 10px 15px;
  }
  .hero-section{
    margin: -10px 0 0 0;
  }
}
/* !HERO SECTION END  */

/* !SKILL SECTION END  */
@media (max-width: 1150px) {
  .skill-section {
    padding: 80px 0;
  }
}

@media (max-width: 675px) {
  .upper-content h2 {
    font-size: 30px;
  }
  .upper-content h4 {
    font-size: 20px;
  }
  .skill-section {
    padding: 60px 0;
  }
  .upper-content h2 {
    font-size: 28px;
  }
  .upper-content {
    margin-bottom: 40px;
  }
}
/* !SKILL SECTION END  */

/* !PROJECT SECTION END  */
@media (max-width: 1150px) {
   .project-section {
    padding-bottom: 70px;
}
}

@media (max-width: 1050px) {
  .content .card .desc p {
    width: 430px;
    text-align: justify;
  }
  .project-section .content {
    width: 950px;
  }
  .project-section {
    padding-bottom: 70px;
  }
}
@media (max-width: 960px) {
  .content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .project-section .content {
    border-radius: 20px;
    width: calc(100% - 520px);
    margin: 0 auto;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .upper-content {
    margin-bottom: 20px;
  }
  .fap {
    margin: 20px 0;
  }
  .content .card {
    /* justify-content: space-between; */
    gap: 20px 30px;
    padding: 20px 20px;
  }
  .content .card .img img {
    width: 320px;
    margin: 0 auto;
  }
  .content .card .desc p {
    width: 300px;
  }
  .project-section {
    padding-bottom: 70px;
  }
}
@media (max-width: 630px) {
  .project-section .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .project-section {
    padding-bottom: 80px;
  }
}
@media (max-width: 530px) {
  .content .card .img img {
    width: 350px;
    margin: 0 auto;
  }
  .project-section .content {
    width: 400px;
    padding: 20px 50px;
    margin: 0 auto;
  }
  .content .card .desc p {
    width: 350px;
    text-align: justify;
    margin: 0 auto;
  }
  .project-section {
    padding-bottom: 60px;
  }
}
@media (max-width: 475px) {
  .content .card .img img {
    width: 330px;
    margin: 0 auto;
  }
  .project-section .content {
    width: 380px;
    margin: 0 auto;
    padding: 20px 50px;
  }
  .content .card .desc p {
    width: 330px;
    text-align: justify;
    margin: 0 auto;
  }
  .content .card .desc h3 {
    font-size: 28px;
  }
  .project-section {
    padding-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .project-section .content {
    width: 300px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  .content .card .img img {
    width: 300px;
    margin: 0 auto;
  }
  .content .card .desc p {
    width: 300px;
    text-align: justify;
    margin: 0 auto;
  }
  .fap {
    margin: 00px 0;
  }
  .project-section {
    padding-bottom: 50px;
  }
}
/* !PROJECT SECTION END  */

/* !EXPERIENCE SECTION END  */
@media (max-width: 475px) {
  .experience-section .brands .brand {
    padding: 15px 20px;
  }
  .experience-section .brands {
    gap: 20px;
  }
  .experience-section {
    padding: 0 0 50px 0 !important;
  }
}
/* !EXPERIENCE SECTION END  */
